<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
  <table>
    <tr>
      <td>Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Where:</td>
      <td><%= f.text_field :where %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= f.text_area :description, :rows => 4 %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= f.text_field :date %></td>
    </tr>
    <tr>
      <td>Time:</td>
      <td><%= f.text_field :time %></td>
    </tr>
  </table>
  <%= f.submit "Update" %>

  </p>
<% end %>

<%= link_to 'Show this Event', @event %> |
<%= link_to 'Back to events', events_path %>
