<h3>New event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Where:</td>
      <td><%= f.text_field :where %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= f.text_area :description, :rows => 4 %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= f.text_field :date %></td>
    </tr>
    <tr>
      <td>Time:</td>
      <td><%= f.text_field :time %></td>
    </tr>
  </table>
 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
